<div class="content-area p-y-1">

	<div class="container-fluid">
		<h4>History</h4>
		<ol class="breadcrumb no-bg m-b-1">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item active">History</li>
		</ol>

		<div class="box box-block bg-white">

			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label>Enquiry Version :</label>
						<label><b>V01</b></label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label>Customer :</label>
						<label><b>Sushant Maragaje</b></label>
					</div>
				</div>
				<div class="col-md-2">
					<div class="btn-group">
						<a href="#" class="btn btn-warning label-left m-b-0-25 waves-effect waves-light" data-toggle="modal" data-target=".view_details"><span class="btn-label"><i class="ti-list"></i></span>View Details</a>
					</div>
				</div>

				<div class="col-md-4">
					<label>Source of enquiry :</label>
					<label><b>Internet</b></label>
				</div>

			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label><b>Package Type</b> : </label>
						Individual
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label><b>Category</b> : </label>
						Domestic
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label><b>Sub Category</b> : </label>
						Family
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label><b>Destination</b> : </label>
						Banglore
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label><b>Budget</b> : </label>
						10000
					</div>
				</div>
				<div class="col-md-4">
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label><b>Duration (days)</b> : </label>
						3
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label><b>Tour Start Date</b> : </label>
						11/21/2016
					</div>
				</div>
				<div class="col-md-4">
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label><b>Best Time to Reach You</b> : </label>
						6:00 pm
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label><b>Adults Count</b> : </label>
						2
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label><b>Children Count</b> : </label>
						2
					</div>
				</div>
			</div>
		</div>

		<div class="box box-block bg-white">

			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label>Enquiry Version :</label>
						<label><b>V02</b></label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label>Customer :</label>
						<label><b>Sushant Maragaje</b></label>
					</div>
				</div>
				<div class="col-md-2">
					<div class="btn-group">
						<a href="#" class="btn btn-warning label-left m-b-0-25 waves-effect waves-light" data-toggle="modal" data-target=".view_details"><span class="btn-label"><i class="ti-list"></i></span>View Details</a>
					</div>
				</div>

				<div class="col-md-4">
					<label>Source of enquiry :</label>
					<label><b>Internet</b></label>
				</div>

			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label><b>Package Type</b> : </label>
						Group
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label><b>Category</b> : </label>
						Domestic
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label><b>Sub Category</b> : </label>
						Family
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label><b>Destination</b> : </label>
						Banglore
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label><b>Budget</b> : </label>
						20000
					</div>
				</div>
				<div class="col-md-4">
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label><b>Duration (days)</b> : </label>
						5
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label><b>Tour Start Date</b> : </label>
						11/21/2016
					</div>
				</div>
				<div class="col-md-4">
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label><b>Best Time to Reach You</b> : </label>
						6:00 pm
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label><b>Adults Count</b> : </label>
						2
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label><b>Children Count</b> : </label>
						2
					</div>
				</div>
			</div>
		</div>

		<div class="box box-block bg-white">
			<div class="row mb-1">

				<div class="col-sm-12">
					<div class="card card-block">
						<h3 class="card-title">Quotation 1</h3>
						<div class="posts-list posts-list-1">
							<div class="pl-item">

								<button id="btnPrint" type="submit" class="btn btn-info">Print</button>
								<button id="btnEmail" type="submit" class="btn btn-info">Email</button>
								<button id="btnDownload" type="submit" class="btn btn-info">Download</button>
								<button id="btnAddPriceQuotation" type="submit" class="btn btn-purple pull-right">Change or Modify</button>
								<button id="btnBookQuotation1" type="submit" class="btn btn-danger pull-right">Book</button>

								<div class="media">
									<br />
									<div class="media-left">

										<a href="#">
											<div class="pli-img">
												<img class="img-fluid" src="/Images/neptune/1.jpg">
											</div>
										</a>
									</div>

									<div class="media-body">
										<div class="p-content">
											<div class="clearfix">
												<h5 class="pull-xs-left"><a class="text-black" href="#">Mumbai, Bangalore Holiday</a></h5>
											</div>
											<div class="p-info">
												Dolor sit amet consectetur adipiscing
											</div>
											<a class="text-primary" href="#"><span class="underline">read more</span></a>
										</div>
									</div>

									<div class="media-right">
										<div class="pv-form">
											<h2 class="h-underline h-underline-50 h-underline-success">25099/-</h2>
											<h4 class="h-underline h-underline-50 h-underline-success text-success">25099/-</h4>

										</div>

									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="card card-block">
						<h3 class="card-title">Quotation 2</h3>
						<div class="posts-list posts-list-1">
							<div class="pl-item">

								<button id="btnPrint" type="submit" class="btn btn-info">Print</button>
								<button id="btnEmail" type="submit" class="btn btn-info">Email</button>
								<button id="btnDownload" type="submit" class="btn btn-info">Download</button>
								<button id="btnAddPriceQuotation2" type="submit" class="btn btn-purple pull-right">Change or Modify</button>
								<button id="btnBookQuotation2" type="submit" class="btn btn-danger pull-right">Book</button>

								<div class="media">
									<br />
									<div class="media-left">

										<a href="#">
											<div class="pli-img">
												<img class="img-fluid" src="/Images/neptune/2.jpg">
											</div>
										</a>
									</div>
									<div class="media-body">
										<div class="p-content">
											<div class="clearfix">
												<h5 class="pull-xs-left"><a class="text-black" href="#">Kashmir, Manali Holiday</a></h5>
											</div>
											<div class="p-info">
												Dolor sit amet consectetur adipiscing
											</div>
											<a class="text-primary" href="#"><span class="underline">read more</span></a>
										</div>
									</div>

									<div class="media-right">
										<div class="pv-form">
											<h2 class="h-underline h-underline-50 h-underline-success">25099/-</h2>
											<h4 class="h-underline h-underline-50 h-underline-danger text-danger">28000/-</h4>

										</div>
									</div>

								</div>
							</div>
						</div>


					</div>
				</div>

				<div class="col-sm-12">
					<div class="card card-block">
						<h3 class="card-title">Quotation 3</h3>
						<div class="posts-list posts-list-1">
							<div class="pl-item">

								<button id="btnPrint" type="submit" class="btn btn-info">Print</button>
								<button id="btnEmail" type="submit" class="btn btn-info">Email</button>
								<button id="btnDownload" type="submit" class="btn btn-info">Download</button>

								<button id="btnAddPriceQuotation3" type="submit" class="btn btn-purple pull-right">Change or Modify</button>
								<button id="btnBookQuotation3" type="submit" class="btn btn-danger pull-right">Book</button>
								<div class="media">
									<br />
									<div class="media-left">

										<a href="#">
											<div class="pli-img">
												<img class="img-fluid" src="/Images/neptune/3.jpg">
											</div>
										</a>
									</div>
									<div class="media-body">
										<div class="p-content">
											<div class="clearfix">
												<h5 class="pull-xs-left"><a class="text-black" href="#">Ladakh Holiday</a></h5>
											</div>
											<div class="p-info">
												Dolor sit amet consectetur adipiscing
											</div>
											<a class="text-primary" href="#"><span class="underline">read more</span></a>
										</div>
									</div>

									<div class="media-right">
										<div class="pv-form">
											<h2 class="h-underline h-underline-50 h-underline-success">25099/-</h2>
											<h4 class="h-underline h-underline-50 h-underline-warning text-warning">24000/-</h4>

										</div>
									</div>

								</div>
							</div>
						</div>


					</div>
				</div>

			</div>
		</div>
	</div>
</div>