@model Lohana.Models.Tariff.HotelTariffTaxUpdation.HotelTariffTaxUpdationViewModel
@using LohanaBusinessEntities.Common;


<link href="~/Content/plugin/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

<script src="~/Content/plugin/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>


<div class="card-block p-t-0 p-b-0">

    <form id="frmHotelTariffPrice">

        <div class="row">

            <div class="calsection">

                <input type="hidden" id="hdnHotelTariffDurationDetailsId" name="HotelTariffPrice.HotelTariffDurationDetailsId" />

                <input type="hidden" id="hdnHotelTariffId" name="HotelTariffPrice.HotelTariffId" />

                <input type="hidden" id="hdnHotelTariffRoomDetailsId" name="HotelTariffPrice.HotelTariffRoomDetailsId" />

                <input type="hidden" id="hdnHotelTariffPriceDetailsId" name="HotelTariffPrice.HotelTariffPriceDetailsId" />

                <input type="hidden" id="hdnHotelTariffFormulaId" name="HotelTariffPrice.FormulaId" />


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Select Formula</label>
                            <select class="form-control" id="drpFormulaUpdate">
                                <option value="0" selected>Select Formula</option>
                                @foreach (var item in Model.LstTaxFormula)
                                {
                                    <option value="@item.TaxFormulaId">@item.TaxFormulaName</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="overflow-x-auto taxFormulaChargesGrid">
                            <table class="table m-b-0" id="tblFormulaDetails">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th width="10%">Charge Type</th>
                                        <th width="10%">Cal On</th>
                                        <th width="10%">Percentage</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>

</div>
