

<div class="content-area p-y-1">
	<div class="container-fluid">
		<h4 class="font-weight-bold m-b-0">Timeline</h4>
		<ol class="breadcrumb no-bg m-b-1">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item"><a href="#">Extra</a></li>
			<li class="breadcrumb-item active">Timeline</li>
		</ol>
		<div class="timeline timeline-center">
			<div class="tl-item">
				<div class="tl-wrap b-a-success">
					<div class="tl-content box box-block bg-white">
						<span class="arrow left b-a-white"></span>
						Enquiry No. <code>000001</code> <strong>(V1)</strong> created by <a href="#">sushant</a> and assigne to priyanka for quotation.
						Click <a href="/Enquiry/Index" target="_blank" >here</a> for details.
					</div>
					<div class="tl-date text-muted"> 01/18/2017 5:40 PM</div>
				</div>
			</div>
			<div class="tl-item tl-left">
				<div class="tl-wrap b-a-primary">
					<div class="tl-content box box-block bg-white">
						<span class="arrow left b-a-white"></span>
						<span class="arrow right b-a-white"></span>
						<a href="#">Priyanka</a> created quotation <strong>(Q1)</strong> for enquiry no. <code>000001</code> 
						Click <a href="/Quotation/Index" target="_blank" >here</a> for details.
					</div>
					<div class="tl-date text-muted">01/19/2017 2:40 PM</div>
				</div>
			</div>
			<div class="tl-item">
				<div class="tl-wrap b-a-primary">
					<div class="tl-content box box-block bg-white">
						<span class="arrow left b-a-white"></span>
						@*<h6>Title</h6>*@
						<a href="#">Priyanka</a> change enquiry <strong>(V2)</strong> for enquiry no. <code>000001</code> 
						Click <a href="/Enquiry/Index" target="_blank" >here</a> for details.
					</div>
					<div class="tl-date text-muted">01/19/2017 4:40 PM</div>
				</div>
			</div>

			<div class="tl-item tl-left">
				<div class="tl-wrap b-a-primary">
					<div class="tl-content box box-block bg-white">
						@*<h6>Title</h6>*@
						<span class="arrow left b-a-white"></span>
						<span class="arrow right b-a-white"></span>
						<a href="#">Priyanka</a> created quotation <strong>(Q1)</strong> for enquiry no. <code>000001</code> 
						Click <a href="/Quotation/Index" target="_blank" >here</a> for details.
					</div>
					<div class="tl-date text-muted">01/19/2017 5:40 PM</div>
				</div>
			</div>

			<div class="tl-item">
				<div class="tl-wrap b-a-primary">
					<div class="tl-content box box-block bg-white">
						<span class="arrow left b-a-white"></span>
						@*<h6>Title</h6>*@
						<a href="#">Priyanka</a> change status of Quotation <strong>(Q1)</strong> for enquiry no. <code>000001</code> to approved.
						Click <a href="/Enquiry/Index" target="_blank" >here</a> for details.
					</div>
					<div class="tl-date text-muted">01/20/2017 8:20 PM</div>
				</div>
			</div>

			<div class="tl-item tl-left">
				<div class="tl-wrap b-a-primary">
					<div class="tl-content box box-block bg-white">
						@*<h6>Title</h6>*@
						<span class="arrow left b-a-white"></span>
						<span class="arrow right b-a-white"></span>
						<a href="#">Priyanka</a> converted quotation <strong>(Q1)</strong> to booking for enquiry no. <code>000001</code> 
						Click <a href="/Booking/Index" target="_blank" >here</a> for details.
					</div>
					<div class="tl-date text-muted">01/20/2017 9:20 PM</div>
				</div>
			</div>

			<div class="tl-item">
				<div class="tl-wrap b-a-primary">
					<div class="tl-content box box-block bg-white">
						<span class="arrow left b-a-white"></span>
						@*<h6>Title</h6>*@
						<a href="#">Priyanka</a> updated payment details for booking no. <code>000001</code>.
						Click <a href="/Booking/Index" target="_blank" >here</a> for details.
					</div>
					<div class="tl-date text-muted">01/20/2017 8:20 PM</div>
				</div>
			</div>

		</div>
	</div>
</div>

				
			