

<script src="~/Scripts/SupplierHotelTariff/supplier-itinerary-event.js"></script>
<script src="~/Scripts/SupplierHotelTariff/supplier-itinerary-method.js"></script>
<script src="~/Scripts/SupplierHotelTariff/supplier-day-title-methods.js"></script>
<script src="~/Scripts/Common/generic.common.events.js"></script>
<script src="~/Scripts/Common/generic.common.methods.js"></script>

<form id="frmItinerary">
   

    <div class="row">
        <div class="col-md-12">
            <div id="divIteneraryButtons" class="form-group" style="float: right;">
                <button type="button" id="btnAddTitle" disabled class="btn btn-success btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light addBtn" value="1"><span class="btn-label"><i class="ti-save"></i></span>Title</button>
                <button type="button" id="btnAddHotel" disabled class="btn btn-success btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light addBtn" value="2"><span class="btn-label"><i class="ti-save"></i></span>Add Hotel</button>
                <button type="button" id="btnAddSiteSeeing" disabled class="btn btn-success btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light addBtn" value="3"><span class="btn-label"><i class="ti-save"></i></span>SiteSeeing</button>
                <button type="button" id="btnAddVehicle" disabled class="btn btn-success btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light addBtn" value="4"><span class="btn-label"><i class="ti-save"></i></span>Vehicle</button>
                <button type="button" id="btnAddMeal" disabled class="btn btn-success btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light addBtn" value="5"><span class="btn-label"><i class="ti-save"></i></span>Meal</button>
            </div>
        </div>
    </div>

    <div id="divDays">

    </div>
    

    <div>
        <label id="lblMessage"></label>

        
    </div>
</form>