@model Lohana.Models.Tariff.HotelTariff.HotelTariffViewModel
@using LohanaBusinessEntities.Common;

<script src="~/Scripts/Tariff/HotelTariff/hotel-tariff-validations.js"></script>
<script src="~/Scripts/Tariff/HotelTariff/hotel-tariff-events.js"></script>
<script src="~/Scripts/Tariff/HotelTariff/hotel-tariff-methods.js"></script>

<form id="frmHotelTariffBasic">
    <input type="hidden" id="hdnHotelTariffId" value="" name="HotelTariff.HotelTariffId" />

    <div class="row">
		<div class="col-md-6">
            <div class="form-group">
                <label for="drpCity" style="color: #333" class="">City Name</label>
                <div class="input-group">
                    <select class="form-control input-sm" id="drpCity" name="HotelTariff.CityId"> 
                    </select>
                    <span class="input-group-addon">
                        <a href="/City/Index" target="_blank"> <i class="fa fa-globe"></i></a>
                    </span>
                </div>
            </div>
        </div>

		<div class="col-md-6">
            <div class="form-group">
                <label for="drpHotel" style="color: #333" class="">Hotel Name</label>
                <div class="input-group">
                    <select class="form-control input-sm" id="drpHotel" name="HotelTariff.HotelId">
                    </select>
                    <span class="input-group-addon">
                        <a href="/Hotel/Index" target="_blank"><i class="fa fa-hotel"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
                <label for="drpVendor" style="color: #333" class="">Vendor Name</label>
                <div class="input-group">
                    <select class="form-control input-sm" id="drpVendor" name="HotelTariff.VendorId">
                    </select>
                    <span class="input-group-addon">
                       <a href="/Vendor/Index" target="_blank"> <i class="fa fa-user"></i></a>
                    </span>
                </div>
            </div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group"	>
			<input type="hidden" name="IsSameHotelVendor" >
				</div>
		</div>
	</div>
    <div class="form-group">
        <button type="button" id="btnAddHotelTariffBasic" class="btn btn-success btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light"><span class="btn-label"><i class="ti-save"></i></span>Save</button>
        <button type="button" id="btnResetTariffBasicDetails" class="btn btn-warning btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light"><span class="btn-label"><i class="ti-reload"></i></span>Reset</button>
        <button type="button" id="btnSearchHotelTariffBasic" class="btn btn-purple btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light"><span class="btn-label"><i class="ti-search"></i></span>Search</button>
    </div>



    <div class="card">

        <h5 class="card-header">
            <span style="vertical-align: middle;" class="s-icon"><i class="ti-wand"></i></span> &nbsp; Hotel Tariff Listing
        </h5>

        <div class="row">
            <input type="hidden" id="hdnSearchHotelTariffId" value="" name="Filter.HotelTariffId" />
            <div class="card-block p-t-0 p-b-0">
                <div class="overflow-x-auto">
                    <table class="table m-b-0" id="tblHotelTariff"></table>
                </div>
            </div>
        </div>
        </div>

    <div>
        <label id="lblMessage"></label>
    </div>
</form>


