@model Lohana.Models.Master.PackageViewModel
@using LohanaBusinessEntities.Common;

<script src="~/Scripts/Master/Package/package-itinerary-bus-validations.js?V=@DateTime.Now"></script>
<script src="~/Scripts/Master/Package/package-itinerary-bus-methods.js?V=@DateTime.Now"></script>
<script src="~/Scripts/Master/Package/package-itinerary-bus-events.js?V=@DateTime.Now"></script>

<div id="dvItineraryBus">
    <div class="row">

        <form id="frmPackageItineraryBuss">

            <input type="hidden" id="hdnPackageBusItineraryId" name="PackageItinerary.PackageItineraryBus.PackageItineraryId" value="@Model.PackageItinerary.PackageItineraryBus.PackageItineraryId" />

            <div class="card-block p-t-0 p-b-0">

                <div class="row" id="divBus">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Bus Name</label>
                            <div class="input-group">
                                <input type="text" id="txtBus" class="form-control input-sm" name="PackageItinerary.PackageItineraryBus.BusName" placeholder="Enter Bus name" maxlength="50">
                                <span class="input-group-addon">
                                    <i class="fa fa-Bus"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Bus From </label>
                            <div class="input-group">
                                <select id="drpBusFrom" class="form-control input-sm" name="PackageItinerary.PackageItineraryBus.BusFrom"></select>
                                <span class="input-group-addon">
                                    <i class="fa fa-Bus"></i>
                                </span>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Bus To </label>
                            <div class="input-group">
                                <select id="drpBusTo" class="form-control input-sm" name="PackageItinerary.PackageItineraryBus.BusTo"></select>
                                <span class="input-group-addon">
                                    <i class="fa fa-Bus"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Bus Time</label>
                            <div class="input-group">
                                <input type="time" id="txtBusTime" class="form-control input-sm" name="PackageItinerary.PackageItineraryBus.BusTime" placeholder="Enter Bus Time" maxlength="50">
                                <span class="input-group-addon">
                                    <i class="fa fa-Bus"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="drpItineraryLocation" style="color: #333" class="">Supplier</label>

                            <div class="input-group">
                                <select class="form-control input-sm" id="drpItinerarySupplier" name="PackageItinerary.PackageItineraryBus.SupplierId"></select>
                                <span class="input-group-addon">

                                </span>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>Cost</label>
                        <div class="input-group">
                            <input type="text" id="drpItineraryBusCost" class="form-control input-sm" name="PackageItinerary.PackageItineraryBus.BusCost" placeholder="Enter Vehicle Cost" maxlength="50">
                            @*<input type="hidden" id="hdnpackageCode" name="Package.PackageCode" value="@Model.Package.PackageCode">*@
                            <span class="input-group-addon">
                            </span>
                        </div>
                    </div>

                </div>

                <div class="row" style="text-align: center;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="button" id="btnAddPackageItineraryBuss" class="btn btn-success btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light"><span class="btn-label"><i class="ti-save"></i></span>Save</button>
                            <button type="reset" id="btnDeletePackageItineraryBuss" class="btn btn-danger btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light" disabled><span class="btn-label"><i class="ti-close"></i></span>Delete</button>
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>

<div class="card" id="divPackageItineraryBusList">

    <h5 class="card-header">
        <span style="vertical-align: middle;" class="s-icon"><i class="ti-wand"></i></span> &nbsp; Package Itinerary Bus Listing
    </h5>
    <form role="form" id="frmSearchPackageItineraryBus">

        <input type="hidden" id="hdnSearchPackageItineraryBusId" value="@Model.PackageItinerary.PackageItineraryBus.PackageItineraryBusId" name="PackageItinerary.PackageItineraryBus.PackageItineraryBusId" />

        <div class="card-block p-t-0 p-b-0">

            <div class="overflow-x-auto">
                <table class="table m-b-0" id="tblPackageItineraryBuss"></table>
            </div>

        </div>

    </form>

</div>