@model Lohana.Models.Lookup.LookupViewModel
@using System.Data;
@using LohanaHelper.PageHelper;

<input type="hidden" id="hdfLookupCurrentPage" name="Pager.CurrentPage" value="" />
<input type="hidden" id="hdnId" name="Id">
<input type="hidden" id="hdnValue" name="Value">
<input type="hidden" id="hdnEditValue" name="" value="@Model.EditLookupValue">

<div class="">
    <div class="">
        <div class="">
            <div class="overflow-x-auto">

                <table class="table m-b-0" style="background: rgba(0, 0, 0, 0.02); border-top: 1px solid #DDD; border-bottom: 1px solid #DDD; padding-top: 0px; margin-bottom: 0;" >
                    <thead class="thead-inverse">
                        <tr id="subhead">
                            @foreach (string item in Model.HeaderNames)
                                
                            {
                                <th></th>
                                <th>@item</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.PartialDt != null && Model.PartialDt.Rows.Count > 0)
                        {
                            foreach (DataRow row in Model.PartialDt.Rows)
                            {
                                <tr>
                                    <td style="width:10%">
                                        @if (row[1].ToString() == Model.EditLookupValue)
                                        {
                                            <label class="switch switch-small" style="margin: 0;">
                                                <input type='radio' checked name='r1_Lookup' id='r1_Lookup_@row[0]' @*onchange="javascript: RadioChanged(this);"*@ class='lookup-iradio-list' />
                                                <span></span>
                                            </label>

                                        }
                                        else
                                        {
                                            <label class="switch switch-small" style="margin: 0;">
                                                <input type='radio' name='r1_Lookup' id='r1_Lookup_@row[0]' @*onchange="javascript: RadioChanged(this);"*@ class='lookup-iradio-list' />
                                                <span></span>
                                            </label>

                                        }

                                    </td>
                                    <td>
                                        @row[1]
                                        <input type='hidden' name='v1' value='@row[1]' class="v1" />
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td></td>
                                <td align="center" colspan="2">
                                    No record found.
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div id="divLookupGridOverlay" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
            <div class="box-footer clearfix">
                <center>
                    <div id="divLookupPager" class="pagination pagination-sm no-margin">
                        @{Html.RenderPartial("_Pagination", Model.Pager);}
                    </div>
                </center>
            </div>
           
        </div>
    </div>
</div>







<script>
    $(function () {

        $("#divLookupGridOverlay").hide();
    });
</script>
