<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label>Flight Name</label><input type="text" id="txtflightName" class="form-control input-sm" name="Hotel.flightName" placeholder="Enter Flight Name" value="Air India">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Ticket Type</label><select id="drpticketType" class="form-control input-sm" name="Hotel.ticketType">
                <option>-Select Ticket Type-</option>
                <option>Business</option>
                <option>First</option>
                <option>Economy</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Is Round Trip</label><select id="drpticketType" class="form-control input-sm" name="Hotel.ticketType">
                <option>-Select-</option>
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Price</label>
            <input type="text" id="txtbudget" class="form-control input-sm" name="Hotel.price" placeholder="Enter Price" value="">
        </div>
    </div>
    
</div>



