
<div class="row">

    <div class="card-header text"><b>Hotel Details</b></div>
    <div class="table-responsive">
        <table class="table m-md-b-0" id="tblHotelDetails">
            <thead>
                <tr>
                    <th></th>
                    <th>Hotel Name</th>
                    <th>Star Category</th>
                    <th>Roomtype</th>
                    <th>MealPlan</th>
                    <th>Occupancy</th>
                    <th>Price</th>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <div class="form-group">
                            <label>Taj Hotel</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>5 star</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>Deluxe</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>Continental Plan</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>Double</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input placeholder="Enter Price" class="form-control input-sm" type="text" value="12000">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="form-group">
                            <label>Sofitel</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>4 star</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>King</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>American Plan</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>Twin</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input placeholder="Enter Price" class="form-control input-sm" type="text" value="10000">
                        </div>
                    </td>

                </tr>
            </thead>
        </table>
    </div>

    <div class="card-header text"><b>Vehicle Details</b></div>

    <div class="table-responsive">
        <table class="table m-md-b-0" id="tblVehicleDetails">
            <thead>
                <tr>
                    <th></th>
                    <th>Vehicle Package Name</th>
                    <th>Vehicle Name</th>
                    <th>Vehicle Type</th>
                    <th>Seating Capacity</th>
                    <th>Price</th>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <div class="form-group">
                            <label>Audi Car Show</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>Cruize</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>Coupe</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>4</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input placeholder="Enter Price" class="form-control input-sm" type="text" value="10000">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="form-group">
                            <label>BMW Car Works    </label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>Camry</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>Green Driving</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>4</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input placeholder="Enter Price" class="form-control input-sm" type="text" value="8000">
                        </div>
                    </td>
                </tr>
            </thead>
        </table>
    </div>


    <div class="card-header text"><b>SightSeeing Details</b></div>
    <div class="table-responsive">
        <table class="table m-md-b-0" id="tblSightSeeingDetails">
            <thead>
                <tr>
                    <th></th>
                    <th>SightSeeing Name</th>
                    <th>Location</th>
                    <th>Star Category</th>
                    <th>Duration</th>
                    <th>Price</th>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <div class="form-group">
                            <label>Mount Titlis and Lucerne Day Tour</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>Basel, Switzerland</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>4 Star</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>8 hours</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input placeholder="Enter Price" class="form-control input-sm" type="text" value="6000">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="form-group">
                            <label>Stories of Basel's Old Town</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>Basel, Switzerland</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>5 Star</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label> 2 hours</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input placeholder="Enter Price" class="form-control input-sm" type="text" value="2000">
                        </div>
                    </td>

                </tr>
            </thead>
        </table>
    </div>

</div>
<div class="row">
  
    <div class="card-header text"><b>Calculation Details</b></div>
    <br />
    <div class="col-md-4">
        <div class="form-group">
            <label>Customer Category</label>
            <select id="drproomType" class="form-control input-sm" name="Hotel.roomType">
                <option value="">-Select Customer Categoory-</option>
                <option value="">Loyal Customer </option>
                <option value="">Walkin Customer </option>
                <option value="">Impulse Customer</option>
            </select>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label>Margin</label>
            <input type="text" id="txtmargin" class="form-control input-sm" name="Hotel.margin" placeholder="Enter Margin" value="5%">
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label>Total Price</label>
            <input type="text" id="txttotal" class="form-control input-sm" name="Hotel.total" placeholder="Enter Total" value="25099/-">
        </div>
    </div>

</div>