<div class="row">
	<div class="col-md-3">
		<div class="form-group">
			<label>Vehicle Type</label>
			<select id="drppackageType" class="form-control input-sm" name="Hotel.packageType">
				<option value="">-Select Vehicle Type-</option>
				<option value="">SUV</option>
				<option value="">Sedan </option>
				<option value="">Tempo Traveller</option>
				<option value="">Bus</option>
			</select>
		</div>
	</div>

	<div class="col-md-3">
		<div class="form-group">
			<label>Vehicle Name</label>
			<input type="text" id="txtvehicleName" class="form-control input-sm" name="Hotel.vehicleName" placeholder="Enter Vehicle Name">
		</div>
	</div>

	<div class="col-md-3">
		<div class="form-group">
			<label>Ticket Delivery</label>
			<select id="drppackageType" class="form-control input-sm" name="Hotel.packageType">
				<option value="">-Select Delivery Type-</option>
				<option value="">Email</option>
				<option value="">Office</option>
				<option value="">Courier</option>
			</select>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-md-3">
		<div class="form-group">
			<label>Adults Count</label><input type="text" id="txtAdultCount" class="form-control input-sm" name="Hotel.adultCount" placeholder="Enter adult count">
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label>Children Count</label><input type="text" id="txtChildrenCount" class="form-control input-sm" name="Hotel.ChildrenCount" placeholder="Enter Children count">
		</div>
	</div>

	<div class="col-md-3">
		<div class="form-group">
			<label>Budget</label>
			<input type="text" id="txtvehiclePrice" class="form-control input-sm" name="Hotel.vehiclePrice" placeholder="Enter Budget">
		</div>
	</div>

	
</div>

