<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div id="divWalkInServices" class="btn-group">
            <button type="button" class="btn btn-outline-primary btn-rounded w-min-sm m-b-0-25 waves-effect waves-light btn-model-hotel" style="font-size: 30px;" value="1"><i class="fa fa-hotel"></i></button>
            <button type="button" class="btn btn-outline-primary btn-rounded w-min-sm m-b-0-25 waves-effect waves-light btn-model-plane" style="font-size: 30px;" value="2"><i class="fa fa-plane"></i></button>
            <button type="button" class="btn btn-outline-primary btn-rounded w-min-sm m-b-0-25 waves-effect waves-light btn-model-train" style="font-size: 30px;" value="3"><i class="fa fa-train"></i></button>
            <button type="button" class="btn btn-outline-primary btn-rounded w-min-sm m-b-0-25 waves-effect waves-light btn-model-bus" style="font-size: 30px;" value="4"><i class="fa fa-bus"></i></button>
            <button type="button" class="btn btn-outline-primary btn-rounded w-min-sm m-b-0-25 waves-effect waves-light btn-model-car" style="font-size: 30px;" value="4"><i class="fa fa-car"></i></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="management m-b-1">
            @{Html.RenderPartial("_EnquiryItem");}
        </div>
    </div>
</div>