<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Train Name</label><input type="text" id="txttrainName" class="form-control input-sm" name="Hotel.trainName" placeholder="Enter Train Name" value="Garib Express">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Ticket Type</label><select id="drpticketType" class="form-control input-sm" name="Hotel.ticketType">
                <option>-Select Ticket Type-</option>
                <option>3 tier Ac</option>
                <option>2 tier</option>
                <option>Sleeper</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Price</label>
            <input type="text" id="txtprice" class="form-control input-sm" name="Hotel.price" placeholder="Enter Price" value="2500">
        </div>
    </div>
</div>


