<div class="table-responsive">
    <table class="table" id="tblRoomDetails">
        <thead class="thead-inverse">
            <tr>
                <th></th>
                <th>Tour</th>
                <th>Catgeory</th>
                <th>Sub Category</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
                <td>Banglore - ooty</td>
                <td>Domestic</td>
                <td>Family</td>
                <td>18,000 per person</td>
                <td>
                <button type="button" class="btn btn-primary">Details</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
                <td>Banglore</td>
                <td>Domestic</td>
                <td>Family</td>
                <td>13,000 per person</td>
                <td>
                    <button type="button" class="btn btn-primary">Details</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
                <td>Banglore - Mysore - Ooty</td>
                <td>Domestic</td>
                <td>Family</td>
                <td>25,000 per person</td>
                <td>
                    <button type="button" class="btn btn-primary">Details</button>
                </td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>