<div class="card-header text"><b>Vehicle Details</b></div>

<div class="table-responsive">
    <table class="table m-md-b-0" id="tblVehicleDetails">
        <thead>
            <tr class="table-danger">
                <th></th>
                <th>Vehicle Package Name</th>
                <th>Vehicle Name</th>
                <th>Vehicle Type</th>
                <th>Seating Capacity</th>
                <th>Price</th>
                <th>Action</th>
            </tr>

            <tr class="table-success">
                <td></td>
                <td>
                    <div class="form-group">
                        <label>Audi Car Show</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>Cruize</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>Coupe</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>4</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>10000</label>
                    </div>
                </td>
               
                <td><button type="submit" class="btn btn-primary btn-rounded">Select Vehicle</button></td>
                
            </tr>
            <tr class="table-info">
                <td></td>
                <td>
                    <div class="form-group">
                        <label>BMW Car Works    </label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>Camry</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>Green Driving</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>4</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>8000</label>
                        
                    </div>
                </td>
                <td><button type="submit" class="btn btn-primary btn-rounded">Select Vehicle</button></td>
            </tr>
        </thead>
    </table>
</div>