<div class="table-responsive">
    <table class="table m-md-b-0" id="tblGitDetails">
        <thead>
            <tr class="table-danger">
                <th></th>
                <th>Category</th>
                <th>Packagetype</th>
                <th>Destination</th>
                <th>Duration</th>
                <th>Hotel Type</th>
                <th>Star Category</th>
                <th>Price</th>
                <th>Action</th>
            </tr>

            <tr class="table-success">
                <td></td>
                <td>
                    <div class="form-group">
                        <label>Domestic</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>Honeymoon</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>Ooty-Manali</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>5D/6N</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>Heritage Hotels</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>5 Star</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>6000</label>
                    </div>  
                </td>

                <td><button type="submit" class="btn btn-primary btn-rounded">Select </button></td>

            </tr>

        </thead>
    </table>
</div>