
<div class="card-header text"><b>Git Details</b></div>

<div class="table-responsive">
    <table class="table m-md-b-0" id="tblGitDetails">
        <thead>
            <tr class="table-danger">
                <th></th>
                <th>Category</th>
                <th>Packagetype</th>
                <th>Package Name</th>
                <th>Duration</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            <tr class="table-success">
                <td></td>
                <td>
                    <div class="form-group">
                        <label>Domestic</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>Honeymoon</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>Mumbai-Pune</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>5D/6N</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>6000</label>
                    </div>
                </td>

                <td><button type="submit" class="btn btn-primary btn-rounded">Select </button></td>

            </tr>
            
        </thead>
    </table>
</div>


