
<div class="card-header text"><b>SightSeeing Details</b></div>

<div class="table-responsive">
    <table class="table m-md-b-0" id="tblSightSeeingDetails">
        <thead class="thead-inverse">
            <tr>
                <th></th>
                <th>SightSeeing Name</th>
                <th>Location</th>
                <th>Duration</th>
                <th>Net Rate</th>
                <th>TravelDate</th>              
                <th>Action</th>
            </tr>
            <tr class="table-success">
                <td></td>
                <td>
                    <div class="form-group">
                        <label>Nationa Park</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>Mumbai, Maharashtra< India</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>4</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>500</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>20/07/2017</label>
                    </div>
                </td>
                <td><button type="submit" class="btn btn-primary btn-rounded">Select </button></td>

                </tr>
</table>
</div>