<div class="row">
	<div class="col-md-2">
		<label>Location</label>
		<div class="form-group">
			<input type="text" id="txtLocation" class="form-control input-sm" name="Hotel.location" placeholder="Enter Location">
		</div>
	</div>

	<div class="col-md-2">
		<div class="form-group">
			<label>Hotel Type</label>
			<select id="drphotelType" class="form-control input-sm" name="Hotel.hotelType">
				<option value="">-Select Hotel Type-</option>
				<option value="">5 Start </option>
				<option value="">4 Star </option>
				<option value="">3 Star </option>
			</select>
		</div>
	</div>

	<div class="col-md-2">
		<div class="form-group">
			<label>Room Type</label>
			<select id="drproomType" class="form-control input-sm" name="Hotel.roomType">
				<option value="">-Select Room Type-</option>
				<option value="">Double Bed Ac </option>
				<option value="">Double Bed Non Ac </option>
				<option value="">Single Bed Ac </option>
				<option value="">Single Bed Non Ac </option>
				<option value="">Dormetory </option>
			</select>
		</div>
	</div>

	<div class="col-md-2">
		<div class="form-group">
			<label>Room count</label>
			<input type="text" id="txtroomCount" class="form-control input-sm" name="Hotel.roomCount" placeholder="Enter Room count">
		</div>
	</div>
	<div class="col-md-2">
		<div class="form-group">
			<label>Hotel Name</label>
			<input type="text" id="txtName" class="form-control input-sm" name="Hotel.Name" placeholder="Enter Hotel Name">
		</div>
	</div>
</div>

<div class="row">

	<div class="col-md-2">
		<div class="form-group">
			<label>Adults Count</label><input type="text" id="txtAdultCount" class="form-control input-sm" name="Hotel.adultCount" placeholder="Enter adult count">
		</div>
	</div>
	<div class="col-md-2">
		<div class="form-group">
			<label>Children Count</label><input type="text" id="txtChildrenCount" class="form-control input-sm" name="Hotel.ChildrenCount" placeholder="Enter Children count">
		</div>
	</div>

	<div class="col-md-2">
		<div class="form-group">
			<label>Check In Date</label>
			<input type="text" id="txtcheckInDate" class="form-control input-sm" name="Hotel.checkInDate" placeholder="Enter Check In">
		</div>
	</div>

	<div class="col-md-2">
		<div class="form-group">
			<label>Check Out Date</label>
			<input type="text" id="txtchkOutDate" class="form-control input-sm" name="Hotel.chkOutDate" placeholder="Enter Check Out">
		</div>
	</div>

	<div class="col-md-2">
		<div class="form-group">
			<label>Budget</label>
			<input type="text" id="txtbudget" class="form-control input-sm" name="Hotel.budget" placeholder="Enter Budget">
		</div>
	</div>

	
</div>

