


<div class="card">
    <div class="card-header text-uppercase"><b>Packages</b></div>
    <div class="posts-list posts-list-1">
        <div class="pl-item">
            <div class="media">
              
                <div class="media-left">
                    
                    <a href="#">
                        <div class="pli-img">
                            <img class="img-fluid" src="/Images/neptune/1.jpg">
                        </div>
                    </a>
                </div>
                <div class="media-body">
                    <div class="p-content">
                        <div class="clearfix">
                            <h5 class="pull-xs-left"><a class="text-black" href="#">Mumbai, Bangalore Holiday</a></h5>
                        </div>
                        <div class="p-info">
                            Dolor sit amet consectetur adipiscing
                        </div>
                        <a class="text-primary" href="#"><span class="underline">read more</span></a>
                    </div>
                </div>

                <div class="media-right">
                    <div class="pv-form">
                        <h2 class="h-underline h-underline-50 h-underline-success">25099/-</h2>

						
                        <button type="submit" class="btn btn-purple">Select</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="pl-item">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <div class="pli-img">
                            <img class="img-fluid" src="/Images/neptune/2.jpg">
                        </div>
                    </a>
                </div>
                <div class="media-body">
                    <div class="p-content">
                        <div class="clearfix">
                            <h5 class="pull-xs-left"><a class="text-black" href="#">Kashmir, Manali Holiday</a></h5>
                        </div>
                        <div class="p-info">
                            Dolor sit amet consectetur adipiscing
                        </div>
                        <a class="text-primary" href="#"><span class="underline">read more</span></a>
                    </div>
                </div>

                <div class="media-right">
                    <div class="pv-form">           
                        <h2 class="h-underline h-underline-50 h-underline-success">00000/-</h2>            
                        <button type="submit" class="btn btn-purple">Select</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="pl-item">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <div class="pli-img">
                            <img class="img-fluid" src="/Images/neptune/3.jpg">
                        </div>
                    </a>
                </div>
                <div class="media-body">
                    <div class="p-content">
                        <div class="clearfix">
                            <h5 class="pull-xs-left"><a class="text-black" href="#">Ladakh Holiday</a></h5>
                        </div>
                        <div class="p-info">
                            Dolor sit amet consectetur adipiscing
                        </div>
                        <a class="text-primary" href="#"><span class="underline">read more</span></a>
                    </div>
                </div>

                <div class="media-right">
                    <div class="pv-form">
                        <h2 class="h-underline h-underline-50 h-underline-success">25099/-</h2>
                        <button type="submit" class="btn btn-purple">Select</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-block text-xs-center">
        <button type="submit" class="btn btn-outline-primary btn-rounded">Show more <i class="ti-reload m-l-0-5"></i></button>
    </div>
</div>