<div class="row">

	<div class="col-md-3">
		<div class="form-group">
			<label>Source</label>
			<input type="text" id="txtSource" class="form-control input-sm" name="Hotel.source" placeholder="Enter Source">
		</div>
	</div>

	<div class="col-md-3">
		<div class="form-group">
			<label>Destination</label>
			<input type="text" id="txtdestination" class="form-control input-sm" name="Hotel.destination" placeholder="Enter Destination">
		</div>
	</div>

	<div class="col-md-3">
		<div class="form-group">
			<label>Ticket Type</label>
			<select id="drppackageType" class="form-control input-sm" name="Hotel.packageType">
				<option value="">-Select Ticket Type-</option>
				<option value="">General</option>
				<option value="">1 tier AC </option>
				<option value="">2 tier Ac</option>
				<option value="">3 tier AC </option>
			</select>
		</div>
	</div>

	<div class="col-md-2">
		<div class="form-group">
			<label>Departure Date</label>
			<input type="text" id="txtLocation" class="form-control input-sm" name="Hotel.destination" placeholder="Enter Depart Date">
		</div>
	</div>
</div>

<div class="row">

	<div class="col-md-3">
		<div class="form-group">
			<label>Adults Count</label><input type="text" id="txtAdultCount" class="form-control input-sm" name="Hotel.adultCount" placeholder="Enter adult count">
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label>Children Count</label><input type="text" id="txtChildrenCount" class="form-control input-sm" name="Hotel.ChildrenCount" placeholder="Enter Children count">
		</div>
	</div>

	<div class="col-md-3">
		<div class="form-group">
			<label>Ticket Delivery</label>
			<select id="drppackageType" class="form-control input-sm" name="Hotel.packageType">
				<option value="">-Select Delivery Type-</option>
				<option value="">Email</option>
				<option value="">Office</option>
				<option value="">Courier</option>
			</select>
		</div>
	</div>

	<div class="col-md-2">
		<div class="form-group">
			<label>Budget</label>
			<input type="text" id="txtbudget" class="form-control input-sm" name="Hotel.budget" placeholder="Enter Budget">
		</div>
	</div>

	
</div>

