<div class="m-item">
    <div class="mi-checkbox">
        <i class="fa fa-train"></i>
    </div>

    <div class="mi-text">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-unstyled m-b-1">
                    <li><i class="fa fa-angle-right text-warning m-r-0-5"></i>Source:<a class="text-black">Mumbai</a></li>
                    <li><i class="fa fa-angle-right text-warning m-r-0-5"></i>Destination:<a class="text-black">Delhi</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled m-b-1">
                    <li><i class="fa fa-angle-right text-warning m-r-0-5"></i>Ticket Type:<a class="text-black">General</a></li>
                    <li><i class="fa fa-check text-success m-r-0-5"></i>Departure Date:<a class="text-black">20-11-2016</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><i class="fa fa-check text-success m-r-0-5"></i>Adults Count:<a class="text-black">2</a></li>
                    <li><i class="fa fa-check text-success m-r-0-5"></i>Children Count:<a class="text-black">2</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><i class="fa fa-circle-o text-info m-r-0-5"></i>Ticket Delivery:<a class="text-black">Email</a></li>
                    <li><i class="fa fa-circle-o text-info m-r-0-5"></i>Budget:<a class="text-black">4000</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="pull-md-left">
            <a class="btn btn-secondary btn-sm" href="#"><i class="ti-pencil m-r-0-5"></i>Edit</a>
            <a class="btn btn-danger btn-sm" href="#"><i class="ti-trash m-r-0-5"></i>Delete</a>
        </div>
        @*<div class="pull-md-right">
                <span class="font-90 text-muted">5 minutes ago</span>
            </div>*@
    </div>
</div>