<div class="m-item">
    <div class="mi-checkbox">
        <input type="radio" name="HotelQuotation">
    </div>

    <div class="mi-text">
        <div class="row">

            <div class="col-md-3">
                <ul class="list-unstyled m-b-1">
                    <li><i class="fa fa-angle-right text-warning m-r-0-5"></i>Location:<a class="text-black">Mumbai</a></li>
                    <li><i class="fa fa-angle-right text-warning m-r-0-5"></i>Hotel Type:<a class="text-black">5 Star</a></li>
                    <li><i class="fa fa-angle-right text-warning m-r-0-5"></i>Room Type:<a class="text-black">Double Bed Ac</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled m-b-1">
                    <li><i class="fa fa-check text-success m-r-0-5"></i>Hotel Name:<a class="text-black">JW Mariott</a></li>
                    <li><i class="fa fa-check text-success m-r-0-5"></i>Budget:<a class="text-black">65000</a></li>
                    <li><i class="fa fa-check text-success m-r-0-5"></i>Room Count:<a class="text-black">2</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><i class="fa fa-circle-o text-info m-r-0-5"></i>Adults Count:<a class="text-black">4</a></li>
                    <li><i class="fa fa-circle-o text-info m-r-0-5"></i>Children Count:<a class="text-black">2</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><i class="fa fa-circle-o text-info m-r-0-5"></i>CheckIn Date:<a class="text-black">6-12-2016</a></li>
                    <li><i class="fa fa-circle-o text-info m-r-0-5"></i>CheckIn Date:<a class="text-black">12-12-2016</a></li>
                </ul>
            </div>
        </div>
    </div>
    
</div>

<div class="m-item">
    <div class="mi-checkbox">
        <input type="radio" name="HotelQuotation">
    </div>

    <div class="mi-text">
        <div class="row">

            <div class="col-md-3">
                <ul class="list-unstyled m-b-1">
                    <li><i class="fa fa-angle-right text-warning m-r-0-5"></i>Location:<a class="text-black">Dehli</a></li>
                    <li><i class="fa fa-angle-right text-warning m-r-0-5"></i>Hotel Type:<a class="text-black">5 Star</a></li>
                    <li><i class="fa fa-angle-right text-warning m-r-0-5"></i>Room Type:<a class="text-black">Double Bed Ac</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled m-b-1">
                    <li><i class="fa fa-check text-success m-r-0-5"></i>Hotel Name:<a class="text-black">JW Mariott</a></li>
                    <li><i class="fa fa-check text-success m-r-0-5"></i>Budget:<a class="text-black">65000</a></li>
                    <li><i class="fa fa-check text-success m-r-0-5"></i>Room Count:<a class="text-black">2</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><i class="fa fa-circle-o text-info m-r-0-5"></i>Adults Count:<a class="text-black">4</a></li>
                    <li><i class="fa fa-circle-o text-info m-r-0-5"></i>Children Count:<a class="text-black">2</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><i class="fa fa-circle-o text-info m-r-0-5"></i>CheckIn Date:<a class="text-black">6-12-2016</a></li>
                    <li><i class="fa fa-circle-o text-info m-r-0-5"></i>CheckIn Date:<a class="text-black">12-12-2016</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

