
<div class="m-item">
    <div class="mi-checkbox">
        <i class="fa fa-plane"></i>
    </div>

    <div class="mi-text">
        <div class="row">

            <div class="col-md-3">
                <ul class="list-unstyled m-b-1">
                    <li><i class="fa fa-angle-right text-warning m-r-0-5"></i>Flight Name:<a class="text-black">Banglore</a></li>
                    <li><i class="fa fa-angle-right text-warning m-r-0-5"></i>Ticket Type:<a class="text-black">5 Star</a></li>
                    <li><i class="fa fa-angle-right text-warning m-r-0-5"></i>Source:<a class="text-black">Double Bed Ac</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled m-b-1">
                    <li><i class="fa fa-check text-success m-r-0-5"></i>Destination:<a class="text-black">JW Mariott</a></li>
                    <li><i class="fa fa-check text-success m-r-0-5"></i>Round Trip:<a class="text-black">65000</a></li>
                    <li><i class="fa fa-check text-success m-r-0-5"></i>Departure Date Time:<a class="text-black">2</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><i class="fa fa-circle-o text-info m-r-0-5"></i>Arrival Date Time:<a class="text-black">4</a></li>
                    <li><i class="fa fa-circle-o text-info m-r-0-5"></i>Adults Count:<a class="text-black">2</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><i class="fa fa-circle-o text-info m-r-0-5"></i>Children Count:<a class="text-black">10-12-2016</a></li>
                    <li><i class="fa fa-circle-o text-info m-r-0-5"></i>Budget:<a class="text-black">12-12-2016</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="pull-md-left">
            <a class="btn btn-secondary btn-sm" href="#"><i class="ti-pencil m-r-0-5"></i>Edit</a>
            <a class="btn btn-danger btn-sm" href="#"><i class="ti-trash m-r-0-5"></i>Delete</a>
        </div>

    </div>
</div>