<div class="content-area p-y-1">
    <div class="container-fluid">
        <h4>Invoice</h4>
        <ol class="breadcrumb no-bg m-b-1">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active">Blank</li>
        </ol>
        <div class="card">
            <div class="card-header clearfix">
                <h5 class="pull-xs-left m-b-0">Invoice #4444</h5>
                <div class="pull-xs-right">January 25, 2017</div>
            </div>
            <div class="card-block">
                <div class="row m-b-2">
                    <div class="col-sm-8 col-xs-6">
                        <h5>Lohana Tours And Travel</h5>
                        <p><a class="text-primary" href="#"><span class="underline">www.lohanatoursindia.com</span></a></p>
                        <p>Brahma Krupa,Kamla Nehru Cross Road Number 2,<br>Best Colony, Jethava Nagar, Kandivali Wes<br>Mumbai<br>Maharashtra 400067</p>
                        <p>Telephone: 022 2865 1348<br>Fax: 800-692-7753<br>Email: trupti@lohanatoursindia.com /international@lohanatoursindia.com</p>
                        <h5>Invoice To:</h5>
                        <p class="m-b-0">John Smith <br>Normand axis LTD 3 Goodman street</p>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <h5>Payment Details:</h5>
                        <div class="clearfix m-b-0-25">
                            <span class="pull-xs-left">Total Due:</span>
                            <span class="pull-xs-right">Rs.122205</span>
                        </div>
                        <div class="clearfix m-b-0-25">
                            <span class="pull-xs-left">Bank Name:</span>
                            <span class="pull-xs-right">State Bank Of India</span>
                        </div>
                        <div class="clearfix m-b-0-25">
                            <span class="pull-xs-left">Country:</span>
                            <span class="pull-xs-right">India</span>
                        </div>
                        <div class="clearfix m-b-0-25">
                            <span class="pull-xs-left">City:</span>
                            <span class="pull-xs-right">Mumbai</span>
                        </div>
                        <div class="clearfix m-b-0-25">
                            <span class="pull-xs-left">Address:</span>
                            <span class="pull-xs-right">Vastu Darshan, Andheri East</span>
                        </div>
                        <div class="clearfix">
                            <span class="pull-xs-left">SWIFT Code:</span>
                            <span class="pull-xs-right">BPT4E</span>
                        </div>
                    </div>

                </div>


                <table class="table table-bordered table-striped m-b-2">
                    <thead>
                        <tr>
                            <th>
                                Description
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Unit Price(Rs)
                            </th>
                            <th>
                                Total Price(Rs)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Git Details</td>
                            <td>2</td>
                            <td>200000</td>
                            <td>400000</td>
                        </tr>
                        <tr>
                            <td>Fit Details</td>
                            <td>3</td>
                            <td>50000</td>
                            <td>150000</td>
                        </tr>
                        <tr>
                            <td>Hotel Details</td>
                            <td>5</td>
                            <td>80000</td>
                            <td>400000</td>
                        </tr>
                        <tr>
                            <td>Air Transportation</td>
                            <td>3</td>
                            <td>20000</td>
                            <td>60000</td>
                        </tr>
                        <tr>
                            <td>Railway Transportation</td>
                            <td>2</td>
                            <td>1000</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>Transfer Details</td>
                            <td>3</td>
                            <td>10000</td>
                            <td>30000</td>
                        </tr>
                        <tr>
                            <td>Sightseeing Details</td>
                            <td>5</td>
                            <td>11000</td>
                            <td>55000</td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-lg-6">
                        <strong>Terms and Conditions</strong>
                        <p class="text-muted m-b-0">Thank you for your business. We do expect payment within 21 days, so please process this invoice within that time. There will be a 1.5% interest charge per month on late invoices.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-xs-right">
                            <div class="m-b-0-5">Sub - Total amount: <b>Rs.1097000</b></div>
                            <div class="m-b-0-5">GST: 3000</div>
                            Grand Total: <strong>Rs.1100000</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer clearfix">
                <button type="button" class="btn btn-danger label-left pull-xs-right">
                    <span class="btn-label"><i class="ti-download"></i></span>
                    Download
                </button>
                <button type="button" class="btn btn-info label-left pull-xs-right m-r-0-5">
                    <span class="btn-label"><i class="ti-printer"></i></span>
                    Print
                </button>
            </div>
        </div>
    </div>
</div>