<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label>Flight Name</label><input type="text" id="txtflightName" class="form-control input-sm" name="Hotel.flightName" placeholder="Enter Flight Name" value="Air India">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Ticket Type</label><select id="drpticketType" class="form-control input-sm" name="Hotel.ticketType">
                <option>-Select Ticket Type-</option>
                <option>Business</option>
                <option>First</option>
                <option>Economy</option>
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>From </label>
            <input type="text" id="txtsource" class="form-control input-sm" name="Hotel.leavingFrom" placeholder="Enter From " value="Mumbai" >
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>To</label><input type="text" id="txtgoingTo" class="form-control input-sm" name="Hotel.goingTo" placeholder="Enter To" value="Delhi">
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label>Is Round Trip</label><select id="drpticketType" class="form-control input-sm" name="Hotel.ticketType">
                <option>-Select-</option>
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-2">
        <div class="form-group">
            <label>Adults Count</label><input type="text" id="txtAdultCount" class="form-control input-sm" name="Hotel.adultCount" placeholder="Adult Count" value="2">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Children Count</label><input type="text" id="txtChildrenCount" class="form-control input-sm" name="Hotel.ChildrenCount" placeholder="Child Count" value="2">
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label>Price</label>
            <input type="text" id="txtbudget" class="form-control input-sm" name="Hotel.price" placeholder="Enter Price" value="25000" >
        </div>
    </div>

    

</div>
