<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label>Train Name</label><input type="text" id="txttrainName" class="form-control input-sm" name="Hotel.trainName" placeholder="Enter Train Name" value="Garib Express">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Ticket Type</label><select id="drpticketType" class="form-control input-sm" name="Hotel.ticketType">
                <option>-Select Ticket Type-</option>
                <option>3 tier Ac</option>
                <option>2 tier</option>
                <option>Sleeper</option>
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>From </label>
            <input type="text" id="txtsource" class="form-control input-sm" name="Hotel.leavingFrom" placeholder="Enter From " value="Bandra">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>To</label><input type="text" id="txtgoingTo" class="form-control input-sm" name="Hotel.goingTo" placeholder="Enter To" value="Bengal" >
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-2">
        <div class="form-group">
            <label>Adults Count</label><input type="text" id="txtAdultCount" class="form-control input-sm" name="Hotel.adultCount" placeholder="Adult Count" value="3">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Children Count</label><input type="text" id="txtChildrenCount" class="form-control input-sm" name="Hotel.ChildrenCount" placeholder="Child Count" value="2">
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label>Price</label>
            <input type="text" id="txtprice" class="form-control input-sm" name="Hotel.price" placeholder="Enter Price" value="2500">
        </div>
    </div>


    

</div>

