<div class="row">

    <div class="pl-item">

        <div class="media">

            <div class="col-md-3">
                <div class="media-left">
                    <a href="#">
                        <div class="pli-img">
                            <img class="img-thumbnail" src="/Images/neptune/1.jpg">
                            <div class="tag tag-warning">Lifestyle</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-8">

                <div class="media-body">

                    <div class="pli-content">

                        <h3><a class="text-black" href="#">Taj Hotel</a></h3>
                        <h5><small class="text-muted">Mumbai, Maharashtra</small></h5>
                        <h5><small class="text-info">5 Star</small></h5>


                        <h5>
                            <a class="text-facebook" data-toggle="collapse" data-parent="#accordion" href="#collapse-4" aria-expanded="true" aria-controls="collapse-4">
                                <i class="fa fa-hotel"> <u> Room Details </u> </i>
                            </a>
                        </h5>


                        <div id="collapse-4" class="panel-collapse m-t-1 collapse in" role="tabpanel" aria-labelledby="heading-3" aria-expanded="true" style="">

                            <div class="col-md-12">

                                <table class="table m-md-b-0">
                                    <thead>
                                        <tr class="table-danger">
                                            <th>Room Type</th>
                                            <th>Meal Type</th>
                                            <th>Occupancy</th>
                                            <th>Rate Per Night</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-success">
                                            <td><a class="text-black">Deluxe</a></td>
                                            <td><a class="text-black">Continental Plan</a></td>
                                            <td><a class="text-black">Double</a></td>
                                            <td><a class="text-black">15000</a></td>
                                            <td><button type="submit" class="btn btn-primary btn-rounded">Select Room</button></td>
                                        </tr>
                                        <tr class="table-info">
                                            <td><a class="text-black">King</a></td>
                                            <td><a class="text-black">American Plan</a></td>
                                            <td><a class="text-black">Twin</a></td>
                                            <td><a class="text-black">10000</a></td>
                                            <td><button type="submit" class="btn btn-primary btn-rounded">Select Room</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>