<div class="row">

    <div class="col-md-12">

        <div class="col-md-6">
            <label>Flight Name:</label><label>Air India</label>
        </div>

        <div class="col-md-6">
            <label>>Ticket Type:</label><label>Business</label>
            </div>
        </div>

    <div class="col-md-12">

        <div class="col-md-6">
            <label>Departure Date Time:</label><label>20-11-2016</label>
        </div>

        <div class="col-md-6">
            <label>>Arrival Date Time:</label><label>20-11-2016</label>
        </div>

    </div>

    <div class="col-md-12">

        <div class="col-md-6">
            <label>Round Trip:</label><label>Yes</label>
        </div>


    </div>

</div>

