
 <div class="row">

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Category</label>
                                            <select id="drpcategory" class="form-control" name="Package.category">
                                                <option value="">Select category</option>
                                                <option value="">Domestic </option>
                                                <option value="">International </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Sub Category</label>
                                            <select id="drpsubCategory" class="form-control" name="Package.subCategory">
                                                <option value="">Select Subcategory</option>
                                                <option value="">Elders </option>
                                                <option value="">Family </option>
                                                <option value="">Couples </option>
                                                <option value="">Honeymoon </option>
                                                <option value="">Adventure </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Select Destination</label><input type="text" id="txtdestination" class="form-control" name="Package.destination" placeholder="Country, State, City">
                                        </div>
                                    </div>


                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Hotel Type</label>
                                            <select id="drpsubCategory" class="form-control" name="Package.subCategory">
                                                <option value="">Select hoteltype</option>
                                                <option value="">Apartments </option>
                                                <option value="">Business Hotels </option>
                                                <option value="">Heritage Hotels </option>
                                                <option value="">Resort Hotels </option>
                                                <option value="">Timeshare Hotels </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Total Budget</label>
                                            <input type="text" id="txtbudget" class="form-control input-sm" name="Package.budget" placeholder="Enter Budget">
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Star Category</label>
                                            <select id="drphotelType" class="form-control input-sm" name="Package.hotelType">
                                                <option value="">Select Starcategory</option>
                                                <option value="">1 Start </option>
                                                <option value="">2 Star </option>
                                                <option value="">3 Star </option>
                                                <option value="">4 Star </option>
                                                <option value="">5 Star </option>
                                            </select>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>From Date - To Date</label>
                                            <div class="input-daterange input-group from-to-date" id="date-range">
                                                <input type="text" class="form-control" name="start">
                                                <span class="input-group-addon bg-primary b-0 text-white">to</span>
                                                <input type="text" class="form-control" name="end">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>No Of Night</label>
                                            <input type="text" id="txtbudget" class="form-control input-sm" name="Package.budget" placeholder="No of Night" readonly>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Adult Count</label><input type="text" id="txtAdultCount" class="form-control adult-children" name="Package.adultCount" value="1">
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Child Count</label><input type="text" id="txtAdultCount" class="form-control adult-children" name="Package.childCount" value="1">
                                        </div>
                                    </div>

                                </div>
<button type="submit" class="btn btn-warning btn-rounded">Search</button>
<hr/>

<div class="card">
    <div class="card-header text-uppercase"><b>Packages</b></div>
    <div class="posts-list posts-list-1">
        <div class="pl-item">
            <div class="media">
              
                <div class="media-left">
                    
                    <a href="#">
                        <div class="pli-img">
                            <img class="img-fluid" src="/Images/neptune/1.jpg">
                        </div>
                    </a>
                </div>
                <div class="media-body">
                    <div class="p-content">
                        <div class="clearfix">
                            <h5 class="pull-xs-left"><a class="text-black" href="#">Mumbai, Bangalore Holiday</a></h5>
                        </div>
                        <div class="p-info">
                            Dolor sit amet consectetur adipiscing
                        </div>
                        <a class="text-primary" href="#"><span class="underline">read more</span></a>
                    </div>
                </div>

                <div class="media-right">
                    <div class="pv-form">
                        <h2 class="h-underline h-underline-50 h-underline-success">25099/-</h2>

						
                        <button type="submit" class="btn btn-purple">Select</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="pl-item">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <div class="pli-img">
                            <img class="img-fluid" src="/Images/neptune/2.jpg">
                        </div>
                    </a>
                </div>
                <div class="media-body">
                    <div class="p-content">
                        <div class="clearfix">
                            <h5 class="pull-xs-left"><a class="text-black" href="#">Kashmir, Manali Holiday</a></h5>
                        </div>
                        <div class="p-info">
                            Dolor sit amet consectetur adipiscing
                        </div>
                        <a class="text-primary" href="#"><span class="underline">read more</span></a>
                    </div>
                </div>

                <div class="media-right">
                    <div class="pv-form">           
                        <h2 class="h-underline h-underline-50 h-underline-success">00000/-</h2>            
                        <button type="submit" class="btn btn-purple">Select</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="pl-item">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <div class="pli-img">
                            <img class="img-fluid" src="/Images/neptune/3.jpg">
                        </div>
                    </a>
                </div>
                <div class="media-body">
                    <div class="p-content">
                        <div class="clearfix">
                            <h5 class="pull-xs-left"><a class="text-black" href="#">Ladakh Holiday</a></h5>
                        </div>
                        <div class="p-info">
                            Dolor sit amet consectetur adipiscing
                        </div>
                        <a class="text-primary" href="#"><span class="underline">read more</span></a>
                    </div>
                </div>

                <div class="media-right">
                    <div class="pv-form">
                        <h2 class="h-underline h-underline-50 h-underline-success">25099/-</h2>
                        <button type="submit" class="btn btn-purple">Select</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-block text-xs-center">
        <button type="submit" class="btn btn-outline-primary btn-rounded">Show more <i class="ti-reload m-l-0-5"></i></button>
    </div>
</div>